#not-found {
  /* prevent animations from overflowing view bounds */
  overflow: hidden;
  /* set scrollbar not active - override home.css */
  height: auto;
}

#not-found .page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: tan; */
  padding: 0 2.5%;
  box-sizing: border-box;
  height: 100vh;
  width: 100vw;
}

#not-found section {
  display: flex;
  align-items: center;
}

@media (max-width: 650px) and (min-height: 400px) {
  #not-found section {
    flex-direction: column;
  }
}

#not-found section img {
  width: 300px;
  max-width: min(40vw, 35vh);
  height: ;
  max-height: min(40vw, 35vh);
  margin: 0.75em;
  /* make image circular */
  border-radius: 50%;
  border: 7px solid var(--root-color);
  -moz-box-shadow:    0 0 0.5em var(--shadow-color);
  -webkit-box-shadow: 0 0 0.5em var(--shadow-color);
  box-shadow:         0 0 0.5em var(--shadow-color);
  animation: teeter 2s alternate ease-in-out infinite;
}

@keyframes teeter {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

#not-found section div {
  margin: 0.75em;
}

#not-found footer {
  position: fixed;
  left: 0; bottom: 0; right: 0;
  /* top shadow */
  -moz-box-shadow: 0 0 1em #000000;
  -webkit-box-shadow: 0 0 1em #000000;
  box-shadow: 0 0 0.5em #000000;
}
