/* Circle Background ------------------------------------------------------- */
#blog .circle { animation-play-state: paused; }

/* Page Heading ------------------------------------------------------------ */
.heading {
  /* full screen width */
  width: 100%;
  background-color: black;
}

.vignette-container {
  /* heading container - vignette image background */
  width: 90%;
  max-width: 900px;
  height: 45vw;
  max-height: 400px;
  /* background defaults - if no override specified on page */
  background-image:
    radial-gradient(ellipse closest-side, #00000090, #000000),
    url("/img/default-heading.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  /* children */
  display: flex;
  align-items: center;
  margin: 0 auto;
  /* text */
  font-size: 1.25em;
  color: white;
}
.vignette-container .content {
  padding-bottom: 1em;
}
.vignette-container h2 {
  margin-bottom: 0.25em;
}

.banner {
  /* heading container - bottom text banner for page description */
  background: var(--root-color);
  color: var(--main-text-color);
  font-size: 75%;
  font-style: italic;
  line-height: normal;
  /* bottom shadow */
  -moz-box-shadow: 0 0 1em #000000;
  -webkit-box-shadow: 0 0 1em #000000;
  box-shadow: 0 0 0.5em #000000;
}
.banner p {
  /* banner text */
  width: 95%;
  max-width: 900px;
  margin: 0 auto;
  padding: 1em 0em;
}

@media (min-width: 40em) {
  .vignette-container { font-size: 1.5em; }
  .banner { font-size: 80%; }
}
