/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Table of Contents ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  - Light and Dark Mode
    - :root
    - img
    - toggle slider

  - HTML Config
  - General Classes
  - Fade-In Background
  - Animated Circles Background

  - Header/Footer Bar
    - config
    - header content
    - footer content

  - Intro Content
  - Portfolio Projects Cards List
    - config
    - homepage
    - all projects page
  - Experience Section
  - Contact Section

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/


/* Light and Dark Mode ----------------------------------------------------- */
* {
  /* animated transition between light and dark mode */
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
  transition:         all 0.2s ease;
}

/* ------------------------------------------------------------------- :root */
:root {
  /* Default - Light Mode */
  --root-color: #fff;
  --main-text-color: #000;
  --main-color: #f0f0f0;
  --accent-color: #0066ff;
  --dim-accent-color: #dbdbdb;
  --shadow-color: #b0b0b0;
}

:root.invert-color-scheme {
  /* Toggleable - Dark Mode */
  --root-color: #171717;
  --main-text-color: #e0e0e0;
  --main-color: #474747;
  --accent-color: #0052cf;
  --dim-accent-color: #636363;
  --shadow-color: #171717;
}

/* --------------------------------------------------------------------- img */
/* Default - Normal Images */
img { filter: brightness(100%); }
/* invert color scheme - reduce image brightness, restore on hover */
img.invert-color-scheme { filter: brightness(75%); }
img.invert-color-scheme:hover { filter: brightness(100%); }

img {
  /* chrome card flash on animation bug fix */
  -webkit-backface-visibility: hidden;
  -webkit-transform: scale(1);
}

/* TEMPFIX - .link-card img */
.link-card img.inverted {
  filter: invert(0.85);
}

/* ----------------------------------------------------------- toggle slider */
.toggle {
  position: relative;
  display: inline-block;
  /* float: left; */
  width: 52.5px;
  height: 26.5px;
  margin: 0 2.5% 0 1em;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--main-color);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
  -moz-box-shadow:    0 0 0.5em var(--shadow-color) inset;
  -webkit-box-shadow: 0 0 0.5em var(--shadow-color) inset;
  box-shadow:         0 0 0.5em var(--shadow-color) inset;
}

.slider:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-image: url('/img/sun.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

.slider.invert-color-scheme:before {
  background-image: url('/img/moon.png');
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px) rotate(360deg);
  -ms-transform: translateX(26px) rotate(360deg);
  transform: translateX(26px) rotate(360deg);
}

/* HTML Config ------------------------------------------------------------- */
* {
  /* Print background colors (Chrome, Safari) */
  -webkit-print-color-adjust: exact !important;
}

html {
  margin: 0;
  padding: 0;
  /* font size (16px=100%, 10px=62.5%) */
  font-size: 110%;
  line-height: 1.5em;
  background-color: var(--root-color);
  /* set scrollbar always active */
  height: 101%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  color: var(--main-text-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  /* self style */
  background-color: var(--main-color);
  -moz-box-shadow:    0 0 0.5em var(--shadow-color) inset;
  -webkit-box-shadow: 0 0 0.5em var(--shadow-color) inset;
  box-shadow:         0 0 0.5em var(--shadow-color) inset;
  border-radius: 15px;
  /* layout style */
  padding: 2.5%;
  margin: 0.75em auto;
  max-width: 90%;
}

section h2 {
  border-bottom: 3px solid var(--dim-accent-color);
  padding-bottom: 0.5em;
  margin: 0.25em 0.5em 0.5em 0.25em;
}

section p {
  margin: 0.5em;
}

svg {
  stroke: var(--root-color);
  stroke-width: 5;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  border-radius: 50%;
  padding: 0.25em;
  transition: background-color 0.25s linear, color 0.25s linear;
}

svg.wasClicked {
  stroke: var(--accent-color);
  background-color: var(--root-color);
}


/* General Classes --------------------------------------------------------- */
.emphasis {
  /* emphasized text - border bars */
  padding: 0 0.5em;
  margin: 0.25em;
  display: inline-block;
  border-left: 2px solid var(--dim-accent-color);
  border-right: 2px solid var(--dim-accent-color);
}

.no-break {
  /* prevent text breaks (inline) */
  white-space: nowrap;
}

.noselect {
  /* prevent random text selection onclick */
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

.short-text {
  /* displayed below large screen breakpoint, hidden above */
  display: inline-block;
}

.full-text {
  /* hidden below large screen breakpoint, displayed above */
  display: none;
}

@media (min-width: 62.5em) {
  /* large screens - at least 1000px - swap all short and full text */
  .short-text { display: none; }
  .full-text { display: inline-block; }
}

.page-wrapper {
  /* contents of page */
  max-width: 960px;
  margin: 0 auto;
}


/* Fade-In Background ------------------------------------------------------ */
#fadein-bg {
  position: fixed;
  top: 0; left: 0;
  width: 100vw;
  height: 100vh;
  background: #171717;
  z-index: 10000;
  animation: fadeOut 0.75s ease-in 0.25s;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}


/* Animated Circles Background --------------------------------------------- */
.ripple-background {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.circle {
  position: absolute;
  width: 150vmax;
  height: 150vmax;
  left: -75vmax;
  top: -75vmax;
  /* style */
  border-radius: 50%;
  background-color: var(--accent-color);
  /* animation */
  animation: ripple 15s infinite ease-in;
  visibility: hidden;
}

.flipped {
  /* class to reposition second set of circles */
  top: auto;
  left: auto;
  right: -75vmax;
  bottom: -75vmax;
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.15;
    visibility: visible;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.circle:nth-child(1) { animation-delay: 0s; }
.circle:nth-child(2) { animation-delay: -3s; }
.circle:nth-child(3) { animation-delay: -6s; }
.circle:nth-child(4) { animation-delay: -9s; }
.circle:nth-child(5) { animation-delay: -12s; }


/* Header/Footer Bar ------------------------------------------------------- */
/* ------------------------------------------------------------------ config */
header, footer {
  background-color: var(--accent-color);
  color: white;
  overflow: hidden;
}

/* content wrapper */
header .wrapper, footer .wrapper {
  max-width: 960px;
  margin: 0 auto;
  padding: 0.5em 2.5%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* nav link containers */
header li, footer li { display: inline-block; }

/* links */
header a, footer a {
  color: white;
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
  transition: color 0.2s;
}

/* link hovering */
header a:hover, footer a:hover {
  background-color: #dbdbdb25;
  color: black;
  text-decoration: underline;
}

/* active link */
header .active, footer .active {
  color: var(--root-color);
  text-decoration: underline;
}

/* title link */
header .title, footer .title {
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px black;
}

header .title:hover, footer .title:hover {
  text-shadow: 1px 1px white;
}

/* navigation links */
header ul, footer ul {
  margin: 0.25em 0;
  list-style: none;
}


/* ---------------------------------------------------------- header content */
header {
  position: fixed;
  left: 0; top: 0; right: 0;
  z-index: 1000;
  font-size: 1.25em;
  /* bottom shadow */
  -moz-box-shadow: 0 0 0.5em #000000;
  -webkit-box-shadow: 0 0 0.5em #000000;
  box-shadow: 0 0 0.5em #000000;
}

header + .page-wrapper, header + .heading {
  /* add space to page for fixed header */
  padding-top: 55px;
}

/* Title and Tagline */
@media (max-width: 400px) {
  /* hide tagline on smaller screens */
  header .tagline { display: none; }
}

header .pages-toggle { display: none; }

/* Hamburger Icon */
.hamburger-icon {
  height: 26.5px;
  display: none;
  /* wasClicked animation */
  -moz-transition: transform 0.5s;
  -webkit-transition: transform 0.5s;
  transition: transform 0.5s;
  cursor: pointer;
}

.hamburger-icon.wasClicked {
  transform: rotate(-540deg);
}

/* Full Nav */
@media (max-width: 800px) {
  /* swap full nav with hamburger icon on small screens */
  #full-nav { display: none; }
  .hamburger-icon { display: block; }
}

/* Small Nav */
#small-nav {
  display: none;
  text-align: right;
  padding: 1em 2.5%;
  transition: all 0s linear;  /* jquery slideToggle() bugfix */
}

#small-nav li {
  display: block;
  margin: 1.25em 0;
}

#small-nav-bg {
  /* background image */
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #000000bb;
  display: none;
}

/* ---------------------------------------------------------- footer content */
footer {
  font-size: 0.95em;
  text-align: center;
}

footer .wrapper a {
  margin: 0 auto;
}


/* Intro Content ----------------------------------------------------------- */
#intro {
  padding: 1em 0;
}

#intro img {
  /* float image to the right of container */
  float: right;
  width: 30%;
  margin-right: 5%;
  margin-left: 0.5em;
  /* make image circular */
  border-radius: 50%;
  border: 7px solid var(--root-color);
  -moz-box-shadow:    0 0 0.5em var(--shadow-color) inset;
  -webkit-box-shadow: 0 0 0.5em var(--shadow-color) inset;
  box-shadow:         0 0 0.5em var(--shadow-color) inset;
  /* teeter animation */
  animation: teeter 2.5s alternate ease-in-out infinite;
}

@keyframes teeter {
  0% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}


/* About Section ----------------------------------------------------------- */

/* base heading font-size on vw for small screens */
@media (max-width: 425px) {
  #about h2 {
    font-size: 6vw;
  }
}

/*
remove heading animations so rotating screen from lanscape to portrait
doesn't cause temporary line break during animation
 */
#about h2 {
  -moz-transition: 0s;
  -webkit-transition: 0s;
  transition: 0s;
}


/* Portfolio Projects Cards List ------------------------------------------- */
/* ------------------------------------------------------------------ config */
.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
  background: var(--dim-accent-color);
  border-radius: 10px;
}

.card-list::-webkit-scrollbar-track {
  background-color: var(--root-color);
  box-shadow:         2px 2px 2px var(--main-color) inset,
                      -2px -2px 2px var(--main-color) inset;
  border-radius: 15px;
}

.card {
  min-width: 400px;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: var(--main-color);
  border-radius: 10px;
  -moz-box-shadow:    0 0 0.5em var(--shadow-color) inset,
                      -1rem 0 3em var(--shadow-color) inset;
  -webkit-box-shadow: 0 0 0.5em var(--shadow-color) inset,
                      -1rem 0 3em var(--shadow-color) inset;
  box-shadow:         0 0 0.5em var(--shadow-color) inset,
                      -1rem 0 3em var(--shadow-color) inset;
  transition: .15s;
  z-index: 2;
}

.card img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  border-radius: 10px;
  border: 0.5em solid black;
  background: black;
  /* alt text */
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  /* adjustments */
  z-index: 1;
  box-sizing: border-box;
}

.card {
  /* chrome card flash on animation bug fix */
  -webkit-backface-visibility: hidden;
  -webkit-transform: scale(1);
}

.card p {
  margin: 1em;
}

.card .date-text {
  color: var(--shadow-color);
  font-style: italic;
  font-size: 0.75em;
}

.card .links {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}

.card a {
  display: inline-block;
  font-size: 0.95em;
}

/* ---------------------------------------------------------------- homepage */
#projects {
  /* layout style */
  padding: 0 2.5% 2.5% 2.5%;
  margin: 0.75em auto;
  line-height: 130%;
  max-width: 90%;
}

#projects h1 {
  margin-bottom: 0.25em;
}

#projects a {
  float: right;
}

#projects .card-list {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  padding: 1.5em 0 1em 0;
  border-top: 3px solid var(--dim-accent-color);
}

/* refactor card layout on small screens */
@media (max-width: 450px) { #projects .card { min-width: 95%; } }

#projects .card:hover {
  transform: translateY(-1rem);
}

#projects .card:hover~.card {
  transform: translateX(130px);
}

#projects .card:not(:first-child) {
  margin-left: -130px;
}

/* ------------------------------------------------------- all projects page */
#all-projects { display: none; }

#all-projects .wrapper {
  margin: 0 auto;
  padding: 0.5em 2.5%;
}

#all-projects .float-r {
  float: right;
  margin: 1.75em 2.5%;
}

#all-projects h1 {
  border-bottom: 3px solid var(--dim-accent-color);
  padding-bottom: 0.25em;
  margin: 1em 2.5%;
}

#all-projects .card-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}

#all-projects .card {
  -moz-box-shadow:    0 0 0.5em var(--shadow-color) inset;
  -webkit-box-shadow: 0 0 0.5em var(--shadow-color) inset;
  box-shadow:         0 0 0.5em var(--shadow-color) inset;
  /* reset min-width */
  min-width: inherit;

  margin: 0.75em 2.5%;
}

@media (min-width: 700px) {
  #all-projects .card {
    width: 45%;
    margin: 0.5em;
  }
}


/* Experience Section ------------------------------------------------------ */
#experience {
  background: none;
  box-shadow: none;
}

#experience h2 { margin: 0 0 0.5em 0; }

#experience i {
  /* date format text style */
  float: right;
  font-size: 90%;
  font-weight: bold;
}

/* Contact Section --------------------------------------------------------- */
/* ------------------------------------------------------- contact config */
#contact .business-card {
  display: flex;
  justify-content: center;
}

#contact .business-card-container {
  width: 40%;
  margin: 1em 0;
  padding: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#contact .business-card-container:nth-child(1) {
  border-right: 1px solid var(--dim-accent-color);
  flex-shrink: 5;
}
#contact .business-card-container:nth-child(2) {
  flex-grow: 5;
  justify-content: center;
  align-items: flex-start;
  padding: 0 5%;
}

#contact .business-card-container h3 {
  margin-top: 1em;
  margin-bottom: 0.5em;
  font-weight: bold;
}

#contact .business-card-container .shrink-text {
  font-size: min(1.5em, 4vw);
}

#contact .business-card-container img {
  border-radius: 50%;
  width: 30vw;
  max-width: 150px;
  height: 30vw;
  max-height: 150px;
  height: auto;
}

#contact .business-card .avatar {
  border: 3px solid black;
}

#contact .link-card {
  margin: 0.25em 0;
  padding: 0 0.5em;
  display: flex;
  align-items: center;
  height: 25%;
  width: 100%;
  border-radius: 50px 10px 10px 50px;
}

#contact .link-card:hover {
  background-color: var(--dim-accent-color);
}

#contact .link-card img {
  width: 25%;
  max-width: 50px;
}

#contact .link-card span {
  margin-left: 1em;
}

#contact p {
  border-top: 1px solid var(--dim-accent-color);
  padding-top: 1em;
  text-align: right;
  line-height: normal;
}

@media (min-width: 42.5em) {
  #contact .short-text { display: none; }
  #contact .full-text { display: inline-block; }
}
