/* Page Body */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* Images */
img {
  max-width: 90%;
  height: auto;
}

/* Horizontal Lines - Main Dividers and Narrower Sub-Dividers */
.long hr {
  width: 900px;
  max-width: 97%;
}
.medium hr {
  width: 750px;
  max-width: 90%;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  padding: 0px 10px;
}

/* Links - Prevent Line Breaks (link text must be narrower than container) */
a {
  white-space: nowrap;
}

/* Paragraph Links */
p a {
  color: #0066ff;
  text-align: center;
  text-decoration: none;
}
p a:hover {
  text-decoration: underline;
}

/* Navigation Bar */
.topnav {
  overflow: hidden;
  background-color: #0066ff;
}
.topnav a {
  border-radius: 10px;
  float: left;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
.topnav a:hover {
  /* background-color: rgba(221, 221, 221, 0.2); */
  background-color: #f0f0f025;
}
.topnav b {
  float: left;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
}
.topnav span {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}

/* Grey Rounded Square Bubbles */
.bubbles {
  background-color: #f0f0f0;
  width: 700px;
  max-width: 80%;
  margin: auto;
  padding: 5px 20px;
  overflow: hidden;
  border-radius: 10px;
}

/* Right-Justified Text Groups*/
.sections {
  overflow: hidden;
  width: 750px;
  max-width: 95%;
  margin: auto;
  border-radius: 10px;
}
.sections a {
  border-radius: 10px;
  color: black;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
}
.sections a:hover {
  color: #0066ff;
}
