/* Page Body */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

/* Images */
img {
  max-width: 90%;
  height: auto;
}

/* Horizontal Lines - Main Dividers and Narrower Sub-Dividers */
.long hr {
  width: 900px;
  max-width: 97%;
}
.medium hr {
  width: 750px;
  max-width: 90%;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
  padding: 0px 10px;
}

/* Links - Prevent Line Breaks (link text must be narrower than container) */
a {
  white-space: nowrap;
}

/* Paragraph Links */
p a {
  color: #0066ff;
  text-align: center;
  text-decoration: none;
}
p a:hover {
  text-decoration: underline;
}

/* Masthead Bar */
.masthead {
  overflow: hidden;
  /* white-space: nowrap; */
  background-color: #0066ff;
}
.masthead a {
  border-radius: 10px;
  float: left;
  text-align: center;
  text-decoration: none;
  font-size: 1.25em;
  padding: 10px 15px;
  margin: 5px;
}
.masthead a:hover {
  background-color: #f0f0f025;
}
.masthead .active {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}
.masthead span {
  float: left;
  color: white;
  text-align: center;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 1.25em;
  margin: 5px;
}
/* Masthead Site Title */
.masthead-name {
  float: left;
  display: inline-block;
  /* width: 525px;
  white-space: normal; */
}
.masthead-name a {
  color: white;
}
/* Masthead Navigation Links */
.main-nav {
  float: right;
  display: inline;
}
.main-nav a {
  color: black;
}

/* Grey Rounded Square Bubbles */
.bubbles {
  background-color: #f0f0f0;
  width: 700px;
  max-width: 80%;
  margin: auto;
  padding: 5px 20px;
  overflow: hidden;
  border-radius: 10px;
}

/* Right-Justified Text Groups*/
.sections {
  overflow: hidden;
  width: 750px;
  max-width: 95%;
  margin: auto;
  border-radius: 10px;
}
.sections a {
  border-radius: 10px;
  color: black;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
}
.sections a:hover {
  color: #0066ff;
}
