/* Extremely Large Screens - make two columns - all page contents visible */
@media (min-width: 1900px) and (min-height: 1750px) {

  /* set scrollbar inactive */
  html { height: 100%; }

  /* reflow page to two-column layout */
  .page-wrapper {
    display: flex;
    justify-content: center;
    max-width: 100vw;
  }

  /* position page columns */
  .xl-screen-col {
    width: 50%;
    max-width: 960px;
  }

  /* expand header/footer content */
  header .wrapper, footer .wrapper { max-width: 1920px; }

  /* hide unneeded nav links */
  header a:not(.title):not(.pages-toggle) { visibility: hidden; }

  /* fix footer */
  footer {
    position: fixed;
    left:0; bottom:0; right:0;
    z-index: 100;
  }

  /* position all-projects page (still single column technically) */
  #all-projects { min-width: 100vw; }

  /* match all-projects title area positioning with header */
  #all-projects .wrapper {
    box-sizing: border-box;
    max-width: 1920px;
    margin: 0 auto;
    padding-left: 0.5em;
    padding-right: 0.5em;
  }

  /* position all-projects cards-list */
  #all-projects .card-list {
    max-width: 1920px;
    margin: 0 auto;
  }

  /* resize all-projects cards */
  #all-projects .card { width: 30%; }

}
