/* Config HTML ------------------------------------------------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* reused colors */
  --main-color: #fff;
  --accent-color: #0066ff;
  --shadow-color: #555;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* centered and arbitrary max width set */
  margin: 0 auto;
  /* position of children */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
  margin: 0 auto;
  max-width: 550px;
}

header {
  width: 100%;
  padding: 0.5em;
  background-color: var(--accent-color);
  color: var(--main-color);
  /* bottom shadow */
  -moz-box-shadow: 0 0 1em var(--shadow-color);
  -webkit-box-shadow: 0 0 1em var(--shadow-color);
  box-shadow: 0 0 0.5em var(--shadow-color);
}


/* Replay Button ----------------------------------------------------------- */
#replay {
  background-color: var(--main-color);
  color: var(--accent-color);
  border-radius: 5px;
  border: 0;
  padding: 0.75em;
  font-size: 1em;
  font-weight: bold;
  box-shadow: 0 0 0.5em var(--shadow-color);
}

#replay:hover {
  cursor: pointer;
  text-decoration: underline;
}

#replay:focus {
  outline: none;
  box-shadow: 0 0 0.5em var(--shadow-color) inset;
}


/* Game Board -------------------------------------------------------------- */
table {
  max-width: 960px;
  margin: 1em 5%;
}

button {
  width: 25vmin;
  height: 25vmin;
  max-width: 150px;
  max-height: 150px;
  font-size: 3em;
  color: var(--accent-color);
  border: 0;
  border-radius: 5px;
  margin: 2vmin;
  box-shadow: 0 0 0.1em var(--shadow-color);
}
button:hover { box-shadow: 0 0 0.15em var(--accent-color); }

button:focus { outline: none; }

button.clicked { box-shadow: 0 0 0.15em var(--shadow-color) inset; }
button.clicked:hover { box-shadow: 0 0 0.15em var(--shadow-color) inset; }

/* Scoreboard -------------------------------------------------------------- */
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 1em;
  background-color: var(--accent-color);
  color: var(--main-color);
  /* top shadow */
  -moz-box-shadow: 0 0 1em #000000;
  -webkit-box-shadow: 0 0 1em #000000;
  box-shadow: 0 0 0.5em #000000;
}

/* add padding to body content to account for fixed footer */
body { padding-bottom: 100px;}

footer h2 { text-align: center; }
