<!-- Coursework and Experience Content for Résumé -->
<h2>Experience</h2>

<!-- Freelance Bulko -->
<i>01/2021</i>
<b class="full-text">Front-End Developer,</b>
<b class="short-text">Web Developer,</b>
<span class="no-break">Self-Employed</span>
<br>

<ul>
  <li>Refactored an
    <a href="https://www.cs.utexas.edu/~bulko/">educator's website</a>
    design to be mobile-responsive
  </li>
  <li>Added to and refactored CSS and HTML files to allow layout to scale down on small screens</li>
  <li>Added new JavaScript functionality to expand on responsive layout</li>
</ul>

<!-- Web Programming -->
<i class="full-text">08/2020 - 12/2020</i>
<i class="short-text">Fall 2020</i>
<b class="full-text">Elements of Web Programming,</b>
<b class="short-text">Web Programming,</b>
<span class="no-break">UT Austin</span>
<br>
<ul>
  <li>
    Developed the front-end and back-end of an
    <a href="https://github.com/twit96/IndieQuest">indie game blog website</a>
  </li>
  <li>Developed various other front-end and full-stack web pages and applications</li>
  <li>Managed projects consisting of Javascript, CSS, HTML, PHP, and SQL</li>
  <li>Integrated mobile-first responsive design methods</li>
</ul>

<!-- Data Analytics -->
<i class="full-text">01/2020 - 05/2020</i>
<i class="short-text">Spring 2020</i>
<b class="full-text">Elements of Data Analytics,</b>
<b class="short-text">Data Analytics,</b>
<span class="no-break">UT Austin</span>
<br>
<ul>
  <li>Developed and implemented machine learning algorithms using the pandas Python library</li>
  <li>Performed exploratory data analyses to identify issues and find patterns in datasets</li>
  <li>
    Conducted a
    <a href="/projects/star-wars-survey/">classification analysis project</a>
    with a survey dataset to predict new participants' responses</li>
</ul>

<!-- Game Development -->
<i class="full-text">08/2019 - 12/2019</i>
<i class="short-text">Fall 2019</i>
<b class="full-text">Elements of Game Development,</b>
<b class="short-text">Game Development,</b>
<span class="no-break">UT Austin</span>
<br>
<ul>
  <li>
    Developed a
    <a href="https://github.com/twit96/PharaohsPhury_Phaser3">2D platformer web game</a>
    using the <span class="no-break">Phaser 3</span> framework
  </li>
  <li>Managed a code base consisting of JavaScript, CSS, HTML, and JSON files</li>
  <li>Created and integrated art and audio assets from Photoshop, Aseprite, and FL Studio</li>
  <li>Communicated and collaborated daily to meet weekly sprint deadlines</li>
</ul>

<!-- Mobile Computing -->
<i class="full-text">01/2019 - 05/2019</i>
<i class="short-text">Spring 2019</i>
<b class="full-text">Elements of Mobile Computing,</b>
<b class="short-text">Mobile Computing,</b>
<span class="no-break">UT Austin</span>
<br>
<ul>
  <li>Developed and designed iOS apps and games using Apple's Xcode environment</li>
  <li>Designed game mechanics and data handling algorithms for a turn-based role-playing game</li>
  <li>Created networking apps to parse API data and display relevant information</li>
</ul>

<!-- HEB -->
<i class="full-text">10/2018 - Present</i>
<i class="short-text">2018 - Present</i>
<b class="full-text">Customer Service Representative,</b>
<b class="short-text">Customer Service,</b>
<span class="full-text">H-E-B Curbside</span>
<span class="short-text">H-E-B</span>
<br>

<ul>
  <li>Work with the H-E-B Curbside website, iOS employee app, and iOS and Android customer apps</li>
  <li>Assist store customers and new employees with issues regarding these technologies</li>
</ul>

<!-- Software Design -->
<i class="full-text">08/2018 - 12/2018</i>
<i class="short-text">Fall 2018</i>
<b class="full-text">Elements of Software Design,</b>
<b class="short-text">Software Design,</b>
<span class="no-break">UT Austin</span>
<br>
<ul>
  <li>Developed algorithms and software based on the principles of object-oriented programming</li>
  <li>Designed class structures to modify and interact with one another, and with parent-child relationships</li>
  <li>Created various data structures to efficiently handle and store different types of data</li>
</ul>

<!-- TTS Fundraising Chair -->
<i class="full-text">12/2017 - 06/2018</i>
<i class="short-text">Spring 2018</i>
<b class="full-text">Fundraising Chair,</b>
<b class="short-text">Fundraising Chair,</b>
<a class="full-text" target="_blank" href="https://www.facebook.com/texastransferstudents/">Texas Transfer Students</a>
<a class="short-text" target="_blank" href="https://www.facebook.com/texastransferstudents/">TTS</a>
<br>
<ul>
  <li>Planned fundraising events in accordance with organization's semester budget</li>
  <li>Used Excel, G Suite and Facebook to organize upcoming events with executive members, organization members, and local businesses</li>
</ul>
