/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Table of Contents ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  - Light and Dark Mode (Root)
  - HTML Config
  - General Classes

  - Animated Circles Background
  - Header/Footer Bar

  - Intro Content
  - Portfolio Projects Section
  - Experience Section
  - Contact Section

~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
*/


/* Light and Dark Mode (Root) ---------------------------------------------- */
:root {
  /* Default - Light Mode */
  --root-color: #fff;
  --main-text-color: #000;
  --main-color: #f0f0f0;
  --accent-color: #0066ff;
  --dim-accent-color: #dbdbdb;
  --shadow-color: #b0b0b0;
}

:root.invert-color-scheme {
  /* Toggleable - Dark Mode */
  --root-color: #171717;
  --main-text-color: #e0e0e0;
  --main-color: #474747;
  --accent-color: #0052cf;
  --dim-accent-color: #636363;
  --shadow-color: #171717;
}

/* If user prefers dark theme, swap root and inverted color schemes */
@media (prefers-color-scheme: dark) {
  :root {
    /* Default - Dark Mode */
    --root-color: #171717;
    --main-text-color: #e0e0e0;
    --main-color: #474747;
    --accent-color: #0052cf;
    --dim-accent-color: #636363;
    --shadow-color: #171717;
  }
  :root.invert-color-scheme {
    /* Toggleable - Light Mode */
    --root-color: #fff;
    --main-text-color: #000;
    --main-color: #f0f0f0;
    --accent-color: #0066ff;
    --dim-accent-color: #dbdbdb;
    --shadow-color: #b0b0b0;
  }

  /* Reduce Image Brightness */
  img { filter: brightness(75%); }
  img:hover { filter: brightness(100%); }
  /* fix for filter making img display over other cards */
  img { z-index: 1; }
  .card { z-index: 2; }
}

/* animated transition between light and dark mode */
* {
  -webkit-transition: all 0.2s ease;
  -moz-transition:    all 0.2s ease;
  -ms-transition:     all 0.2s ease;
  -o-transition:      all 0.2s ease;
  transition:         all 0.2s ease;
}

/* Light/Dark Mode Toggle Slider */
#toggle {
  position: relative;
  display: inline-block;
  float: left;
  width: 60px;
  height: 34px;
  margin: 0.25em 0 0 2.5%;
}

#toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:var(--dim-accent-color);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--root-color);
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: var(--accent-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}


/* HTML Config ------------------------------------------------------------- */
* {
  /* Print background colors (Chrome, Safari) */
  -webkit-print-color-adjust: exact !important;
}

html {
  margin: 0;
  padding: 0;
  /* font size (16px=100%, 10px=62.5%) */
  font-size: 100%;
  line-height: 1.5em;
  background-color: var(--root-color);
  /* set scrollbar always active */
  height: 101%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  color: var(--main-text-color);
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

section {
  /* self style */
  background-color: var(--main-color);
  -moz-box-shadow:    0 0 0.5em var(--shadow-color) inset;
  -webkit-box-shadow: 0 0 0.5em var(--shadow-color) inset;
  box-shadow:         0 0 0.5em var(--shadow-color) inset;
  border-radius: 15px;
  /* layout style */
  padding: 2.5%;
  margin: 0.75em auto;
  max-width: 90%;
}

section h2 {
  border-bottom: 3px solid var(--dim-accent-color);
  padding-bottom: 0.5em;
  margin: 0.25em 0.5em 0.5em 0.25em;
}

section p {
  margin: 0.5em;
}


/* General Classes --------------------------------------------------------- */
.no-break {
  /* prevent text breaks (inline) */
  white-space: nowrap;
}

.short-text {
  /* displayed below large screen breakpoint, hidden above */
  display: inline-block;
}

.full-text {
  /* hidden below large screen breakpoint, displayed above */
  display: none;
}

@media (min-width: 62.5em) {
  /* large screens - at least 1000px - swap all short and full text */
  .short-text { display: none; }
  .full-text { display: inline-block; }
}

.page-wrapper {
  /* contents of page */
  max-width: 960px;
  margin: 0 auto;
}


/* Animated Circles Background --------------------------------------------- */
.ripple-background {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}

.circle {
  position: absolute;
  width: 150vw;
  height: 150vw;
  left: -75vw;
  top: -75vw;
  /* style */
  border-radius: 50%;
  background-color: var(--accent-color);
  /* animation */
  animation: ripple 15s infinite ease-in;
  visibility: hidden;
}

.flipped {
  /* class to reposition second set of circles */
  top: auto;
  left: 25vw;
  bottom: -75vw;
}

@keyframes ripple {
  0% {
    transform: scale(0);
    opacity: 0.15;
    visibility: visible;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.circle:nth-child(1) {
  animation-delay: 0s;
}

.circle:nth-child(2) {
  animation-delay: 3s;
}

.circle:nth-child(3) {
  animation-delay: 6s;
}

.circle:nth-child(4) {
  animation-delay: 9s;
}

.circle:nth-child(5) {
  animation-delay: 12s;
}


/* Header/Footer Bar ------------------------------------------------------- */
header, footer {
  background-color: var(--accent-color);
  color: white;
  overflow: hidden;
}

/* bigger header text */
header { font-size: 1.25em; }

/* smaller footer text */
footer { font-size: 0.95em; }

/* header navigation content wrapper */
header nav {
  max-width: 1000px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
}

@media (max-width: 43.75em) {
  header nav {
    justify-content: center;
  }
}

/* footer navigation content wrapper */
footer nav {
  max-width: 1000px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0.25em auto;
}

/* header/footer link style */
header a, footer a {
  color: var(--main-text-color);
  text-decoration: none;
  padding: 10px;
  border-radius: 10px;
}

header a:hover {
  background-color: #dbdbdb25;
}
footer a:hover {
  background-color: #dbdbdb25;
}

/* active link */
header .active, footer .active {
  color: var(--root-color);
  font-weight: bold;
  text-decoration: underline;
}

/* title link */
header .title, footer .title {
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px black;
}

/* header navigation links lists */
header ul {
  list-style: none;
  margin: 0% 2%;
  padding: 0.75em;
  display: inline-block;
  white-space: nowrap;
}

header li {
  display: inline-block;
}


/* intro content ----------------------------------------------------------- */
#intro {
  padding: 1em 0;
}

#intro h1 {
  padding-left: 5%;
  margin-bottom: 0;
}

#intro img {
  /* float image to the right of container */
  float: right;
  width: 30%;
  margin-right: 5%;
  margin-left: 0.5em;
  /* make image circular */
  border-radius: 50%;
  border: 7px solid var(--root-color);
  -moz-box-shadow:    0 0 0.5em var(--shadow-color) inset;
  -webkit-box-shadow: 0 0 0.5em var(--shadow-color) inset;
  box-shadow:         0 0 0.5em var(--shadow-color) inset;
}

/* swap icon with profile picture on page mouseover */
#avatar-sub {
  display: none;
}

.page-wrapper:hover #avatar-main {
  display: none;
}
.page-wrapper:hover #avatar-sub {
  display: inline-block;
}


/* portfolio projects section ---------------------------------------------- */
article {
  /* layout style */
  padding: 0 2.5% 2.5% 2.5%;
  margin: 0.75em auto;
  line-height: 130%;
  max-width: 90%;
}

article h1 {
  margin-bottom: 0.25em;
}

.card-list {
  display: flex;
  align-items: center;
  overflow-x: scroll;
  padding: 1.5em 0 1em 0;
  border-top: 3px solid var(--dim-accent-color);
}
.card-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.card-list::-webkit-scrollbar-thumb {
  background: var(--dim-accent-color);
  border-radius: 10px;
}

.card-list::-webkit-scrollbar-track {
  background-color: var(--root-color);
  box-shadow:         2px 2px 2px var(--main-color) inset,
                      -2px -2px 2px var(--main-color) inset;
  border-radius: 15px;
}

.card {
  min-width: 400px;
  /* position: relative; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  background-color: var(--main-color);
  border-radius: 10px;
  -moz-box-shadow:    0 0 0.5em var(--shadow-color) inset,
                      -1rem 0 3em var(--shadow-color) inset;
  -webkit-box-shadow: 0 0 0.5em var(--shadow-color) inset,
                      -1rem 0 3em var(--shadow-color) inset;
  box-shadow:         0 0 0.5em var(--shadow-color) inset,
                      -1rem 0 3em var(--shadow-color) inset;
  transition: .15s;
}

/* emphasized link text (has left and right border bars) */
.card a {
  padding: 0 0.5em;
  margin: 0.25em;
  display: inline-block;
  border-left: 2px solid var(--dim-accent-color);
  border-right: 2px solid var(--dim-accent-color);
}

.card img {
  display: block;
  width: 100%;
  height: auto;
  margin: 0 auto;
  padding: 0;
  border-radius: 10px;
  /* alt text */
  color: black;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

/* refactor card layout on small screens */
@media (max-width: 450px) { .card { min-width: 95%; } }

.card:hover {
  transform: translateY(-1rem);
}

.card:hover~.card {
  transform: translateX(130px);
}

.card:not(:first-child) {
  margin-left: -130px;
}

.card p {
  padding: 0 1em;
}

/* only need this if you remove 'align-items center' on 'card-list' class */
/* .card .links {
  margin-top: auto;
} */

/* experience section ------------------------------------------------------ */
#experience {
  background: none;
  box-shadow: none;
}

#experience h2 { margin: 0 0 0.5em 0; }

#experience i {
  /* date format text style */
  float: right;
  font-size: 90%;
  font-weight: bold;
}

/* contact section --------------------------------------------------------- */
th {
  text-align: left;
  padding-right: 1em;
  padding-left: 0.5em;
}
