html {
  margin: 0;
  padding: 0;
  /* 16px=100%. 10px=62.5%. */
  font-size: 100%;
  background-color: #fff;
  /* scrollbar always active */
  height: 101%;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* take up whole view window */
  min-height: 100%;

}

.page-wrapper {
  /* contents of page (excluding masthead and header) */
  max-width: 960px;
  margin: 0 auto;
}

#resume .page-wrapper {
  max-width: 800px;
}

a {
  color: #0066ff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.emphasis {
  /* emphasized links */
  padding: 0 0.5em;
  margin: 5px;
  display: inline-block;
  /* side borders - color specified by parent element */
  border-left: 2px solid;
  border-right: 2px solid;
}

ol, ul {
  padding: 0 1.5em;
}

hr.long {
  width: 900px;
  max-width: 97%;
}
hr.medium {
  width: 750px;
  max-width: 90%;
}

img {
  max-width: 90%;
  height: auto;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}


.no-break {
  /* prevent text breaks */
  white-space: nowrap;
}

.sub-text {
  /* smaller text - can be nested in itself */
  font-size: 75%;
}


.bubble {
  /* container - grey rounded background */
  background-color: #f0f0f0;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
  width: 95%;
}
.bubble a.emphasis {
  border-color: #dbdbdb;
}
.bubble .section {
  width: 95%;
}


.section {
  /* container - width set, unstyled */
  overflow: hidden;
  /* width: 750px;
  max-width: 95%; */
  width: 95%;
  margin: auto;
}
.section a.emphasis {
  border-color: #f0f0f0;
}


.header {
  width: 100%;
  background-color: black;
}
.header-container {
  width: 95%;
  max-width: 900px;
  height: 45vw;
  max-height: 400px;
  /* background defaults */
  background-image:
    radial-gradient(ellipse closest-side, #00000090, #000000),
    url("/assets/img/default-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* children */
  margin: 0 auto;
  font-size: 1.25em;
  color: white;

  display: flex;
  align-items: center;
}
.header-container .content {
  padding-bottom: 1em;
}

.header-container h2 {
  margin-bottom: 0;
}

.banner {
  background-color: #f0f0f0;
  position: relative;
  font-size: 75%;
  overflow: hidden;
  border-radius: 0px 0px 25px 0px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  /* children */
  padding: 1em 0em;
}
.banner p {
  width: 95%;
  max-width: 900px;
  margin: auto;

}


#portfolio .bubble {
  max-width: 750px;
}

/* RESPONSIVE ELEMENTS */
/* default: display short and hide full text */
.short-text {
  display: inline-block;
}
.full-text {
  display: none;
}

/* Medium Screens */
@media (min-width: 40em) {
  .header-container {
    font-size: 1.5em;
  }
  .banner { font-size: 80%; }
}

/* Large Screens */
@media (min-width: 62.5em) {
  .short-text { display: none; }
  .full-text { display: inline-block; }

  .header-container {
    font-size: 1.75em;
  }
  .banner {
    font-size: 90%;
  }

}
