/* MAIN ELEMENTS */
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
}

.page-wrapper {
  padding: 0 2.5%;
  margin: inherit;
}

a {
  color: #0066ff;
  text-align: center;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
a.emphasis {
  /* emphasized with side border bars */
  padding: 0px 7px;
  margin: 5px;
  display: inline-block;
  /* border color specified by parent element */
  border-left: 2px solid;
  border-right: 2px solid;
}
ol, ul {
  padding: 0 1.5em;
}

hr.long {
  width: 900px;
  max-width: 97%;
}
hr.medium {
  width: 750px;
  max-width: 90%;
}

img {
  max-width: 90%;
  height: auto;
  color: black;
  font-size: 1.5em;
  font-weight: bold;
}

/* TEXT STYLES */
/* prevent text break */
.no-break {
  white-space: nowrap;
}
/* smaller text within container - can be nested in itself */
.sub-text {
  font-size: 75%;
}

/* CONTAINERS */
/* section container - set width, unstyled */
.section {
  overflow: hidden;
  width: 750px;
  max-width: 95%;
  margin: auto;
}
.section a.emphasis {
  border-color: #f0f0f0;
}

/* bubble - grey rounded square */
.bubble {
  background-color: #f0f0f0;
  margin: auto;
  overflow: hidden;
  border-radius: 10px;
}
.bubble a.emphasis {
  border-color: #dbdbdb;
}
.bubble .section {
  width: 100%;
}
#portfolio .bubble {
  width: 700px;
  max-width: 80%;
  padding: 5px 20px;
}
#blog .bubble {
  width: 750px;
  min-width: 65%;
  max-width: 100%;
}


/* PAGE HEADER */
.page-header {
  /* self */
  position: relative;
  width: 100%;
  height: auto;
  min-height: 45vw;
  /* background */
  background-image:
    radial-gradient(ellipse closest-side, #00000090, #000000),
    url("/assets/img/default-header.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* font */
  font-size: 1.25em;
  color: white;
  /* children */
  display: flex;
  align-items: center;
}
.page-header .content {
  width: 750px;
  min-width: 65%;
  max-width: 95%;
  margin: auto;
  padding-bottom: 1em;
}
.page-header h2 {
  margin-bottom: 0;
}

.banner {
  background-color: #f0f0f0;
  position: relative;
  font-size: 75%;
  overflow: hidden;
  border-radius: 0px 0px 25px 0px;
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  /* children */
  padding: 1em 0em;

}
.banner p {
  width: 750px;
  min-width: 65%;
  max-width: 90%;
  margin: auto;
  /* padding: 0em 0.5em;
  margin 1em auto;
  border-left: 2px solid black; */
}

/* RESPONSIVE ELEMENTS */
/* default: display short and hide full text */
.short-text {
  display: inline-block;
}
.full-text {
  display: none;
}

/* Medium Screens */
@media (min-width: 40em) {
  .page-header {
    font-size: 1.5em;
    min-height: 40vw;
  }
  .banner { font-size: 80%; }
}

/* Large Screens */
@media (min-width: 62.5em) {
  .short-text { display: none; }
  .full-text { display: inline-block; }

  .page-header {
    font-size: 1.75em;
    min-height: 30vw;
  }
  .banner {
    font-size: 90%;
  }

}
