/* MASTHEAD (Top Bar) ELEMENTS */
.masthead {
  background-color: #0066ff;
  color: white;
  padding: 5px 5px 0px 5px;
  font-size: 1.25em;
  text-align: center;

  min-width: 65%;
  margin: auto;
}

/* Container for Title and Navigation */
.masthead-container {
  /* rendering */
  display: inline-block;
  /* margin: 0% 2.5%; */
  margin: 0% 2%;
  text-align: center;
  /* overflow handling */
  white-space: nowrap;
  overflow: hidden;
}

/* Links */
.masthead a {
  border-radius: 10px;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  color: black;
}
.masthead a:hover {
  background-color: #f0f0f025;
}
.masthead .active {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

/* Title Link */
.masthead .title {
  font-weight: bold;
  color: white;
}


/* CUSTOM STYLE EXAMPLES (in blog div class) */
/* 1. Black Bar */
/* #blog .masthead {
  background-color: black;
  border-bottom: 1px solid #f0f0f050;
}
#blog .masthead a {
  color: grey;
}
#blog .masthead .title {
  color: white;
} */

/* 2. Blue to Black Soft Gradient Bar */
/* #blog .masthead {
  background-image: linear-gradient(#0066ff, black);
}
#blog .masthead a {
  color: grey;
}
.masthead a:hover {
  background-color: #f0f0f015;
}
#blog .masthead .title {
  color: white;
} */

/* 3. Blue to Black Hard Gradient Bar */
/* #blog .masthead {
  background-image: linear-gradient(#0066ff,#0066ff,#0066ff,#0066ff,#0066ff, black);
} */
