<!-- top navigation bar content for header element -->

<nav>
  <!-- title/description with homepage link -->
  <ul>
    <li>
      <a class="title" href="/">Tyler Wittig</a>
    </li>
    <li>
      <span class="full-text">Web Software and Games Developer</span>
      <span class="short-text">Web Developer</span>
    </li>
  </ul>
  <!-- links to other pages -->
  <ul>
    <li>
      <a href="/">Portfolio</a>
    </li>
    <li>
      <a href="/resume/">Résumé</a>
    </li>
    <li>
      <a href="/#contact">Contact</a>
    </li>
  </ul>
</nav>
