<!-- Masthead - Top Bar (Resume Button Highlighted) -->
<!-- Title and Description Text -->
<div class="masthead-container">
  <a class="title" href="/">Tyler Wittig</a>
  <span class="full-text">Software and Games Developer</span>
  <span class="short-text">Software Developer</span>
</div>
<!-- Main Navigation -->
<div class="masthead-container">
  <a href="/">Portfolio</a>
  <!-- <a href="/blog/">Blog</a> -->
  <a class="active" href="/resume/">Résumé</a>
  <a href="/contact/">Contact</a>
</div>
