<!-- Top Navigation Bar (No Buttons Highlighted) -->
<div class="topnav">
  <!-- Name -->
  <div style="float:left; padding:5px;">
    <a href="/"><b>Tyler Wittig</b></a>
  </div>
  <!-- Description -->
  <div style="float:left; padding:5px;">
    <span>Software and Games Developer</span>
  </div>
  <!-- Page Links -->
  <div style="float:right; padding:5px;">
    <a href="/contact.html">Contact</a>
  </div>
  <div style="float:right; padding:5px;">
    <a href="/resume.html">Résumé</a>
  </div>
  <div style="float:right; padding:5px;">
    <a href="/">Portfolio</a>
  </div>
  <div style="clear:both"></div>
</div>
